In [1]:
import pandas as pd

In [2]:
BEIS_csv = pd.read_csv('../Data/LA_Emissions.csv')

In [3]:
BEIS_csv = pd.melt(BEIS_csv, id_vars='Calendar Year', value_vars=['Grand Total',
                              'Agriculture Total',
                              'Transport Total',
                              'Domestic Total',
                              'Industry Total',
                              'Public Sector Total',
                              'Commercial Total'])

In [4]:
BEIS_csv

     Calendar Year          variable    value
0           2005.0       Grand Total  1,453.0
1           2006.0       Grand Total  1,393.8
2           2007.0       Grand Total  1,343.4
3           2008.0       Grand Total  1,281.5
4           2009.0       Grand Total  1,143.1
..             ...               ...      ...
114         2017.0  Commercial Total       71
115         2018.0  Commercial Total     71.2
116         2019.0  Commercial Total     68.3
117         2020.0  Commercial Total       73
118            NaN  Commercial Total      NaN

[119 rows x 3 columns]